.problems-container {
    height: inherit;
    width: inherit;
    border-right: 0.2vw solid #E0E0E0;

    > .header {
        height: 7%;
        width: 100%;
        display: flex;
        align-items: center;
        padding-left: 1em;
        border-top: 0.2em solid #F5F5F5;
        border-bottom: 0.2em solid #F5F5F5;

        .title {
            font-size: 0.875em;
            font-weight: bold;
            line-height: 1.250em;
        }
    }
    
    > .content {
        height: 93%;
        width: 100%;
        overflow: scroll;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 800px) {
    .problems-container {
        content {
            overflow-x: auto;
        }
    }
}