.problems-container {
    height: inherit;
    width: inherit;
    border-right: 0.2vw solid #E0E0E0;
}

.problems-container .problems-header {
    height: 7%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1em;
    border-top: 0.2em solid #F5F5F5;
    border-bottom: 0.2em solid #F5F5F5;
}

.problems-container .problems-header .title {
    font-size: 0.875em;
    font-weight: bold;
    line-height: 1.250em;
}

.problems-container .problems-content {
    height: 93%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

@media screen and (max-width: 800px) {
    .problems-container .problems-content {
        overflow-x: auto;
    }
}